.App {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}
table,
th,
td,
tr {
  width: 30%;
  border: 1px solid black;
  padding-left: 0px;
  margin: 70px;
  margin-top: 20px;
  text-align: center;

  /* height: 30px 90px; */
  /* width: 50px; */
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.button {
  /* background-color: darkblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.button button {
  border: none;
  outline: none;
  border-bottom: 2px solid blue;
  padding: 15px;
  font-size: 26px;
  background-color: white;
}
.button button:hover {
  color: blue;
}
.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  margin-top: 5px;
}
.Chart {
  /* display: flex; */
  position: absolute;
  height: 120px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  margin-top: 60px;

  /* border:2px solid red; */
}
.me {
  transform-origin: 0 0;
  transform: rotate(-90deg);
  height: auto;
  font-size: 12px;
  position: absolute;
}
.sp {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 200px;
  margin-left: 150px;

  /* border: 2px solid black; */
}
.aa {
  width: 80px;
  height: 70px;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  height: auto;
  font-size: 12px;
  position: absolute;
  margin-right: 260px;
  margin-top: 72px;
}
